@media screen and (max-width:1024px) {
/*!
=================================================================================================================================
      *A PROPOS
=================================================================================================================================
*/
    section.a-propos {
        height: auto;
    }
    .header-propos>p {
        padding: 0 70px;
    }
    .carousel {
        width: 80%;
    }
    .carousel__item {
        width: 12VW;
        height: 12vw;
      }
    .carousel__item h6{
        font-size: 15px;
      }
    .propos-box{
        height: auto;
        padding: 5px 0;
    }
    .box{
        height: 8VW;
        width: 13VW;
    }
    .box h1{
        font-size: 3vw;
    }
    .box p{
        font-size: 2vw;
    }
}


@media screen and (max-width:900px) {
    /*!
    =================================================================================================================================
        *HEADER
    =================================================================================================================================
    */
    nav ul li a {
        font-size: 2vw;
    }
    /*!
    =================================================================================================================================
        *A PROPOS
    =================================================================================================================================
    */
    .carousel {
        width: 70%; 
      }
    
    .carousel__slider {
        width: 70vw; 
    }
 }




 @media screen and (max-width:768px) {
    /*!
    =================================================================================================================================
        *HEADER
    =================================================================================================================================
    */
    .header {
        background-color: white;
        height: 30vh;
        width: 100vw;
        z-index: 1;
    }
    Nav {
        z-index: 99999;
        width: 100%;
    }
    #logo {
        position: absolute;
        z-index: 777;
        left: 20px
    }
    .menu-hamburger {
        display: block;
        position: absolute;
        z-index: 99999;
        right: 40px;
        font-size: 3vh;
    }
    .nav-links {
        position: absolute;
        z-index: 9999;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        background-color: rgba(0, 0, 0, 0.276);
        backdrop-filter: blur(7px);
        margin-left: -200%;
        transition: all 0.5s ease; 
    }
    .nav-links .button {
        margin: auto;
        font-size: 4vh;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 75%;
        width: 100%;
    }
    nav ul li {
        margin: auto;
        font-size: 3vh;
    }
    nav ul li a {
        font-size: 3vh;
    }
    #logo {
        padding-left: 28px;
        font-family: Million Harmony;
    }
    .mobile-menu {
        margin-left: -20px;
    }
/*!
=================================================================================================================================
      *A PROPOS
=================================================================================================================================
*/
    .header-propos>p {
        padding: 4px 20px;
    }
    .carousel {
        width: 50%; 
    }
    .carousel__slider {
        width: 50vw; 
    }
    .carousel__item h6{
        font-size: 10px;
      }
 }


 @media screen and (max-width:614px) {

 }



 @media screen and (max-width:425px) {

 }