@media   (orientation:portrait ) {
    /*==============  *HEADER*  ===========*/
    header{
        height: 35vh;
        max-height: 100%;
    }
    .CSSgal {
        height: 35vh;
        max-height: 35vh;
    }
    #slidtitle {
        font-size: 70px;
    }
    #slidgraphe{
        font-size: 30px;
    }
        
    /*============  *FORMULAIRE*  =========*/
    .formulaire {
        width: 65VW;
        height: 35vh;
    }
    .CSSgal {
        height: 35vh;
        max-height: 35vh;
    }
    #firstnameuser {
        width: 310px;
        height: 40px;
    }
    #lastnameuser {
        width: 310px;
        height: 40px;
    }
    #soinsuser {
        width: 310px;
        height: 40px;
    }
    #daterdv{
        width: 310px;
        height: 40px;
    }
    #timerdv{
        width: 310px;
        height: 40px;
    }
    .btnreserver {
        padding: 10px 120px;
    }
  /*=======* ZONE DETENTE ========*/
  .ZoneDetente{
    flex-wrap: wrap;
    width: 100vw;
    max-width: 100%;
    gap: 0;
 }
 .firstpart {
     flex-wrap: wrap;
     margin: auto;
     width: 95vw;
     height: auto;
 }
 .firstpartimg {
     width:95%;
     height:350px;
 }

 .parttxt{
     height: auto;
     width:95vw;
     margin: auto;
     border: none;
     padding: 0;
 }

 .secondparttxt{
    order: 1;
 }
 .secondpartimg{
    order: 1;
    display: none;
 }
 .firstparttxt p{
     display: block;
     padding-bottom: 20px;
 }
    /*============  *A PROPOS*  =========*/
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 4) - 10px);
    }
    /*============  *Galérie*  =========*/
    .ma-galerie {
        grid-template-columns: repeat(3, 250px);
    }
    .ma-galerie img{
        width: 250px;
    }


}
@media only screen and (max-width: 5550px) {
    /*=======* Galérie ========*/
    .ma-galerie {
        grid-template-columns: repeat(3, 25rem);
    }
    .ma-galerie img {
        height:210px;
        width: 100%;
    }

}
@media only screen and (max-width: 1350px) {
       /*=======* Galérie ========*/
    .ma-galerie {
        height: auto;
        margin: 5px;
        display: grid;
        grid-template-columns: repeat(3, 22em);
        justify-content: center;
        grid-gap: 10px;
    }
    .ma-galerie img{
        width: 22em;
        height: 240px;
        background: #333;
    }
    /*============  *PRESTATIONS*  =========*/
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 4) - 10px);
    }

}






@media only screen and (max-width: 1240px) {
    /*============  *NOS PRESTATIONS*  =========*/
    .préambule{
        grid-template-columns: repeat(4, 15rem);
    }
    .presta{
        width: 15rem;
    }

    /*============  *Rdv*  =========*/
    .rdv{
        height: 600px;
        width:1500px;
        flex-wrap: wrap;
        margin: auto;
    }

      /*=======* A PROPOS ========*/
      .a-propos {
        max-width: 100%;
        width:100vw ;    
        border-radius: 00px;
        overflow: hidden;
    }
    .propos-msg , .msg-txt {
        border-radius: 14px;
    }
      /*=======* ZONE DETENTE ========*/
      .ZoneDetente{
        flex-wrap: wrap;
        width: 100vw;
        max-width: 100%;
        gap: 0;
     }
     .firstpart {
         flex-wrap: wrap;
         margin: auto;
         width: 85%;
         height: auto;
     }
     .firstpartimg  {
         width:85%;
         height:350px;
     }

     .parttxt {
         height: auto;
         width:85%;
         margin: auto;
         border: none;
         padding: 0;
     }

     .parttxt p{
         display: block;
         padding-bottom: 20px;
     }
    /*============  *NOS PRESTATIONS*  =========*/
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 3) - 10px);
        overflow: hidden;
    }


    /*=======* Galérie ========*/
    .ma-galerie {
        grid-template-columns: repeat(3, 18em);
    }

    .ma-galerie img{
        width: 18em;
        height: 200px;
    }
      /*============  *News Letter*  =========*/
      .newsletter{
        height: auto;
        flex-wrap: wrap;
        border-radius: 0;
        width: 100vw;
        max-width: 100%;
        padding: 20px;
    }
}


@media only screen and (max-width: 1024px) {
    /*============  *NOS PRESTATIONS*  =========*/

       

    /*=======* PRÉAMBULE ========*/        
    .préambule{
        height: auto;
        width: 100VW;
        max-width: 100%;
        display: grid;   
        grid-template-columns: repeat(4, 11rem);
        justify-content: center;
        align-items:center;
        grid-gap: 25px;
        padding: 10px;
        margin: 20px auto;
    }
    .presta{
        height: 100%;
        width: 11rem;
    }

}



@media only screen and (max-width: 990px) {
    /*============  *SLIDER*  =========*/
    .CSSgal {
        height: 80vh;
        max-height: 80vh;
        text-align: center;
    }
    #slidtitle {
        font-size: 40px;
        text-align: center;
    }
    #slidgraphe{
        font-size: 20px;
        text-align: center;
    }
    .social-header{
    display: none;
    }
    .slider-txt{
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
        height: 100vw;
        width: 100vw;
        position: relative; 
        top: 50%; 
        left: 0;
        transform: translateY(-50%); 
        text-align: center;
    }
    /*=======* PRÉAMBULE ========*/        
    .préambule{
        height: auto;
        width: 90VW;
        max-width: 100%;
        display: grid;   
        grid-template-columns: repeat(4, 9rem);
        justify-content: center;
        align-items:center;
        grid-gap: 18px;
        padding: 10px;
        margin: 20px auto;
    }
    .presta{
        height: 100%;
        width: 5rem;
    }
    .presta h1{
        font-size: 15px;
        margin: 0;
        text-align: center;
        color: black;
    }
    .presta img{
        height:4rem;
        width: 4rem;
    }
    #slidgraphe {
        display: block;
    }
    .presta h3 , p {
        display: none;
    }
    #prestaitms{
        display: none;
    }
    .slider-txt a img{
        height:200px;
        width: 200px;
        padding: 0;
    }
    /*=======* ZONE DETENTE ========*/
    .ZoneDetente{
       flex-wrap: wrap;
       width: 100vw;
       height: auto;
       max-width: 100%;
       gap: 0;
       margin: 20px auto;
    }
    .firstpart{
        flex-wrap: wrap;
        margin: auto;
        width: 90%;
        height: auto;
    }
    .firstpartimg  {
        width:100%;
        height:250px;
    }
    .secondpart  {
       display: none;
    }
    .parttxt {
        height: auto;
        width:100%;
        margin: auto;
        border: none;
        padding: 0;
        gap: 0;
    }

    .parttxt p{
        display: block;
        padding-bottom: 0;
        text-align: left;
    }
    .parttxt p:nth-child(2){
        display: none;
    }
    /*=======* A PROPOS========*/
    .a-propos {
        width: 100vw;
        min-height: 200px;
        height: auto;
        border-radius: 0;
    }
    .propos-msg {
        height: auto;
        max-height: auto;
        border-radius: 0;
        width: 100%;
    }
    .msg-txt {
        color: white;
    }
    .msg-txt p:nth-child(2) {
       display: none;
    }
    .msg-txt h1{
        width: 100%;
        padding: 0 ;
        color: #C38154;
    }
    .msg-txt p{
        display: block;
        width: 100%;
        text-align: left;
    }
    /*============  *NOS PRESTATIONS*  =========*/
    .nosprestations{
        height: auto;
        width: 90vw;
        text-align: left;
    }
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 12px);
        overflow: hidden;
    }
    .title-prestations p{
        width: 90%;
        font-size: 15px;
        color: white;
        padding: 0;
        display: block;
        text-align: left;
    }
    .carousel .card {
            height: 300px;
            width: 100%;
            margin-bottom: 40px;
    }
    .nosprestations{
        background-attachment:scroll;
    }
    .btnallprestations {
        color: white;
        background-color:#C38154;
        font-weight: bold;
        padding: 10px 20px;
        transition: all 0.3s ease-in-out;
        margin-top: 20px;
        font-size: 18px;
        border-radius: 15px;
    }
    /*=======* Galérie ========*/
    #galérie {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 85vw;
    }
    .gal-txt {
        width: 925%;
        max-width: 85%;
        justify-content: left;
    }
    .ma-galerie {
        grid-template-columns: repeat(1,100%);
    }

    .ma-galerie img{
        width: 100%;
        height: 250px;
        background: #333;
        object-fit: cover;
        object-position: center;
    }
    /*============  *News Letter*  =========*/
    .newsletter{
        height: auto;
        flex-wrap: wrap;
        padding-bottom: 20px;
        border-radius: 0;
        width: 100vw;
        max-width: 100%;
    }
    .elementsnews{
        width: 90%;
        justify-content:flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: auto;
        gap: 20px;
    }
    .elementsnews h1{
        margin: 20px 0;
        width: 100%;
        font-size: 30px;
        margin:20px 0;
    }
    .elementsnews p{
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: left;
    }
    .formnewletter{
        width: 100%;
        gap: 20px;
        margin: auto;
    }
    .monform{
        width: 100%;
    }
    .formnewletter input{
        width: 100%;
        border-radius:5px;
        border: 1px solid white;
    }
    /*============  *Rdv*  =========*/
    .rdv{
        height: auto;
        width:85vw;
        max-width: 100%;
        flex-wrap: wrap;
        margin:10px auto;

    }
    .position{
        width: 90%;
    }
    .infosrdv{
        width: 100%;
        margin: auto;
        margin-bottom: 25px;
        padding: 0;
    }
    .formulairesrdv{
        width: 100%;
        margin: 0;
    }
    .hoairesetcontacts{
        display: flex;
        flex-wrap:wrap;
        width: 100%;
        padding: 0;
    }
    .horaire{
        width: 100%;
    }
    .time{
        width: 100%;
    }
    .elementforms input{
        width: 100%;
        border-radius:5px;
    }
    
    /*============  *Footer*  =========*/    
    footer {
        height: auto;
        overflow: hidden;
    }
    footer p {
        display: block;
    }
    .part1 {
        height: auto;
    grid-template-columns: repeat(auto-fill, 300px);
        margin: 0;
        padding: 0;
        align-items: flex-start;
        justify-content: flex-start;

    }
    .part2 {
        height: auto;
    }
    .Lehahiahangel{
    }
    .Lehahiahangel,.Nospages,.Nouscontacter,.Horraires  {
        max-width: 90vw;
        width: 90vw;
        height: auto;
        flex-wrap: wrap;
        justify-content: left;
    }
    .Nouscontacter div {
        justify-content: left;
    }
}




@media only screen and (max-width: 750px) {
    /*=======* PRÉAMBULE ========*/        
    .préambule{
        grid-template-columns: repeat(4, 5rem);
    }
    /*============  *NOS PRESTATIONS*  =========*/
    .nosprestations{
        height: auto;
        width: 95vw;
        overflow: hidden;
    }

    .wrapper .carousel {
        grid-auto-columns: calc((100% / 1) - 12px);
        width: 100%;
        gap: 20px;
        overflow: hidden;
    }
    .nosprestations h1{
        font-size: 25px;

    }
    .title-prestations p{
        width: 90%;
        font-size: 15px;
        color: white;
        padding: 0;
        display: block;
        text-align: left;
    }
    .carousel .card {
            height: 300px;
            width: 100%;
    }
    .carousel .card .img {
        background: #f1dec9;
        height: 50%;
    }
    .wrapper i:first-child{
        left: -10px;
        z-index: 1;
      }
      .wrapper i:last-child{
        right: -10px;
      }

/*=======* Galérie ========*/
    .ma-galerie {
        grid-template-columns: repeat(1, 100%);
    }

    .ma-galerie img{
        width: 100%;
        height: 200px;
        background: #333;
    }
}      

@media only screen and (max-width: 500px) {
    h1 {font-size: 20px;}

    .wrapper .carousel {
        grid-auto-columns: calc((100% / 1) -40px);
    }
    .carousel .card {
        height: 300px;
        width: 100%;
    }
}



   