@media screen and (max-width:1024px) {
 
}




@media screen and (max-width:900px) {

 }




@media screen and (max-width:900px) {
    /*!
    =================================================================================================================================
        *HEADER
    =================================================================================================================================
    */
    nav ul li a {
        font-size: 2vw;
    }
 }




 @media screen and (max-width:768px) {
    /*!
    =================================================================================================================================
        *HEADER
    =================================================================================================================================
    */

    .header {
        background-color: white;
        height: 30vh;
        width: 100vw;
        z-index: 1;
    }
    Nav {
        z-index: 99999;
        width: 100%;
    }
    #logo {
        position: absolute;
        z-index: 777;
        left: 20px
    }
    .menu-hamburger {
        display: block;
        position: absolute;
        z-index: 99999;
        right: 40px;
        font-size: 4vh;
    }
    .nav-links {
        position: absolute;
        z-index: 9999;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        background-color: rgba(0, 0, 0, 0.276);
        backdrop-filter: blur(7px);
        margin-left: -200%;
        transition: all 0.5s ease; 
    }
    .nav-links .button {
        margin: auto;
        font-size: 4vh;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 75%;
        width: 100%;
    }
    nav ul li {
        margin: auto;
        font-size: 4vh;
    }
    nav ul li a {
        font-size: 4vh;
    }
    #logo {
        font-size: 28px;
        padding-left: 28px;
        font-family: Million Harmony;
    }
    .mobile-menu {
        margin-left: -20px;
    }
 }


 @media screen and (max-width:614px) {

 }



 @media screen and (max-width:425px) {

 }