/*!
=================================================================================================================================
     *FONT
=================================================================================================================================
*/
@font-face {
    font-family: "Catalish Huntera";
    src: url("/Police\ d\'écriture/catalish-huntera.ttf") format("truetype");
}

@font-face {
    font-family: "Million Harmony";
    src: url("/Police\ d\'écriture/Million Harmony.otf") format("opentype");
}

/*!
=================================================================================================================================
     *GENERAL
=================================================================================================================================
*/
* {
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

a {
    color: white;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: aliceblue;
}

.revelx {
    transform: translateX(-30px);
    opacity: 0;
}

.revelx-visibleX {
    transform: translateX(0px);
    opacity: 100%;
}

.revely {
    opacity: 0;
    transform: translateY(-30px);
    transition: .3s ease-in;
}

.revelx-visibleY {
    transform: translateX(0px);
    opacity: 100%;
    transition: .3s ease-in;
}

/*!
=================================================================================================================================
     *HEADER
=================================================================================================================================
*/
.topbar {
    background-color: transparent;
    width: 90vw;
    height: 40px;
    max-width: 100%;
    max-height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    display: none;
}

.contact-icone {
    display: flex;
    align-items: center;
    gap: 20px;
}

small {
    padding-left: 10px;
}

.contact-icone>small {
    cursor: pointer;
    transition: all 0.5s ease-in;
    color: white;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contact-icone>small:hover {
    color: #e6aac0;
}

.social-icone {
    display: flex;
    gap: 20px;
    align-items: center;
}

.fa3 {
    font-size: 24px;
    color: white;
    transition: all 0.5s ease-in-out;
}

.fa3:hover {
    color: #f21268;
}


Nav {
    width: 100%;
    height: 79px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 9999999;
    transition: background-color 0.5s ease, height 0.5s ease;
}

.scroll {
    background-color: aliceblue;
}

#logo {
    border-radius: 50px;
    padding-top: 15px;
}

#logo img {
    width: 7vw;
    height: 7vw;
}

#logo2 {
    display: none;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 4vw;
}

nav ul {
    display: inline-flex;
    justify-content: space-between;
    cursor: pointer;
    width: 90%;
    min-width: 80%;
    max-width: auto;
    gap: 3vw;
}

nav ul li a {
    font-family: Bell MT;
    padding: 3px 10px;
    font-weight: lighter;
    font-size: 1.6vw;
    transition: all 0.3;
    color: #F2789F;
    font-weight: bold;
    transition: all 0.5s ease-out;
}

nav ul li a:hover {
    transition: all 0.3 ease-out;
    color: #f21268;
}

nav button {
    font-family: Bell MT;
    padding: 5px 20px;
    cursor: pointer;
    background-color: #F2789F;
    border: 2px solid;
    color: white;
    font-size: 1.5vw;
    transition: all 0.6s ease-in-out;
    border: 1px solid rgb(202, 122, 122);
}

nav button:hover {
    background-color: white;
    color: #e6aac1;
    border: 1px solid #F2789F;
}

.menu-hamburger {
    font-size: 5vw;
    color: #e6aac1;
    cursor: pointer;
    display: none;
}

.fa-regular {
    color: #F2789F;
    font-size: 30px;
}


.header {
    background-color: aliceblue;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    background-image: url(../images/b-medium.jpg);
    background-size: cover;
    background-position: left center;
    position: relative;
    z-index: 79;
    color: aliceblue
}

.header::before {
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 50%;
}

.header-txt {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
}

.title {
    color: white;
    font-size: 6vw;
    gap: 10px;
    font-family: Million Harmony;
    display: flex;
    justify-content: center;
}

.title span {
    color: #F2789F;
}

.sstitle {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 3vw;
    display: flex;
    justify-content: center;
}

.header-txt .button {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    padding: 2px 25px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid;
    color: white;
    font-size: 2.5vw;
    transition: all 0.6s ease-out;
    border: 1px solid white;
    font-family: Bell MT;
}

.header-txt .button:hover {
    background-color: white;
    color: #e6aac1;
    border: 1px solid #F2789F;
}

/*!
=================================================================================================================================
      *A PROPOS
=================================================================================================================================
*/
section.a-propos {
    height: 95vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    background: aliceblue;
    margin: auto;
    padding-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.propos-msg {
    width: 45%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg-txt {
    width: auto;
    height: auto;
    margin: 0 0 0 20px;
}

.msg-txt>h1 {
    font-size: 40px;
    color: #F2789F;
    margin-bottom: 10px;
}

.msg-txt>p {
    font-size: 18px;
    margin: 13px 0;
}

.msg-txt>p>span {
    color: #F2789F;
    font-weight: bold;
    padding-right: 5px;
    font-size: 20px;
}

.msg-txt .button {
    display: flex;
    margin: 20px 0 0 0;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    padding: 5px 20px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid;
    color: white;
    background-color: #F2789F;
    font-size: 1.5vw;
    transition: all 0.6s ease-out;
    border: 1px solid white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header-txt .button:hover {
    background-color: #e6aac1;
    color: white;
    border: 1px solid #F2789F;
}

.propos-img {
    width: 45%;
    height: 90%;
    position: relative;
    display: flex;
}

.propos-img img {
    width: 100%;
    height: 70vh;
    margin: auto;
    object-fit: cover;
    object-position: center;
    box-shadow: -18px 21px 5px 2px rgba(242, 120, 159, 0.61);
    -webkit-box-shadow: -18px 21px 5px 2px rgba(242, 120, 159, 0.61);
    -moz-box-shadow: -18px 21px 5px 2px rgba(242, 120, 159, 0.61);
}

/*
=================================================================================================================================
      *A PROPOS
=================================================================================================================================
*/
.propos-box {
    display: flex;
    height: 18vh;
    width: 100%;
    background: url(../images/massage.jpg);
    background-position: center;
    background-size: cover;
    background-color: black;
    position: relative;
}

.propos-box::before {
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 50%;
}

.box-itm {
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: auto;
}

.box {
    height: 80px;
    width: 150px;
    background-color: #e6aac18c;
    backdrop-filter: blur(10px);
    text-align: center;
    margin: auto;
}

.box h1 {
    color: #f21268;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box p {
    color: white;
    align-items: center;
    justify-content: center;
}


/*
=================================================================================================================================
      *Services
=================================================================================================================================
*/

.services {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    background-color: #e6aac0;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-end;
}

div.services-txt {
    height: 20%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-txt h1 {
    font-size: 40px;
    color: white;
}

div.box-service {
    height: 80%;
    width: 100vw;
    max-width: 100%;
    display: flex;
}

div.img-services {
    height: 30vw;
    width: 30vw;
    max-width: 100%;
    border-radius: 50%;
    display: flex;
    margin: 3px auto;
    position: relative;
    background-image: url(../images/massage.jpg);
    background-position: right;
    background-size: cover;
    box-shadow: -6px 6px 5px 2px rgba(242, 120, 159, 0.61);
}

.img-services ul li a {
    background-color: white;
    color: #f21268;
    padding: 5px 15px;
    border-radius: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

.img-services ul li a {
    box-shadow: -6px 6px 5px 2px rgba(242, 120, 159, 0.61);
}

.img-services li {
    position: absolute;
}

.img-services ul :nth-child(1) {
    top: 20px;
    left: -30px;
}

.img-services ul :nth-child(2) {
    top: 150px;
    left: -110px;
}

.img-services ul :nth-child(3) {
    top: 300px;
    left: -60px;
}

.img-services ul :nth-child(4) {
    top: 20px;
    right: -45px;
}


.img-services ul :nth-child(5) {
    top: 150px;
    right: -125px;
}

.img-services ul :nth-child(6) {
    top: 300px;
    right: -50px;
}

/*
=================================================================================================================================
      *Galérie
=================================================================================================================================
*/
#galérie {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gal-txt {
    height: 20%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.gal-txt h1 {
    font-size: 40px;
    color: #F2789F;
}

.ma-galerie {
    margin: 30px auto;
    height: auto;
    max-width: 1000px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 5px;
    justify-content: center;
}

.gal-box1,
.gal-box2,
.gal-box3,
.gal-box4,
.gal-box5,
.gal-box6,
.gal-box7,
.gal-box8 {
    background-color: #e6aac1;
    height: 200px;
    width: 300px;
}

.gal-box1 {
    background-image: url(../images/g1.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 1/3;
    width: auto;
}

.gal-box2 {
    background-image: url(../images/g3.jpg);
    background-position: center;
    background-size: cover;
}

.gal-box3 {
    background-image: url(../images/g2.jpg);
    background-position: center;
    background-size: cover;
}

.gal-box4 {
    background-image: url(../images/g4.jpg);
    background-position: center;
    background-size: cover;
}

.gal-box5 {
    background-image: url(../images/g5.jpg);
    background-position: center;
    background-size: cover;
}

.gal-box6 {
    background-image: url(../images/g6.jpg);
    background-position: center;
    background-size: cover;
}

.gal-box7 {
    background-image: url(../images/g7.jpg);
    background-position: center;
    background-size: cover;
}

.gal-box8 {
    background-image: url(../images/g8.jpg);
    background-position: center;
    background-size: cover;
}

/*
=================================================================================================================================
      *Galérie
=================================================================================================================================
*/

.nos-client {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    background-color: #e6aac1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.client-txt {
    height: 20%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.client-txt h1 {
    font-size: 40px;
    color: white;
}

.commentaires {
    height: 70%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.commentaires ::after {
    content: "";
    backdrop-filter: blur(10px);
}

.cmt {
    height: 200px;
    width: 180px;
    background-color: aliceblue;
    display: flex;
    position: relative;
    transition: all 0.6s ease-in-out;
    overflow: hidden;
}

.cmt:hover::after {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.495);
    height: 165px;
    width: 180px;
    display: flex;
    margin: auto;
    transition: all 0.6s ease-in-out;
    z-index: 3;
}

.cm1 {
    background-image: url(../images/c.jpg);
    background-position: center;
    background-size: cover;
}

.cm2 {
    background-image: url(../images/c1.jpg);
    background-position: center;
    background-size: cover;
}

.cm3 {
    background-image: url(../images/c2.jpg);
    background-position: center;
    background-size: cover;
}

.cm4 {
    background-image: url(../images/c3.jpg);
    background-position: center;
    background-size: cover;
}

.cm5 {
    background-image: url(../images/c4.jpg);
    background-position: center;
    background-size: cover;
}

.cm2 {
    background-image: url(../images/c4.jpg);
    background-position: center;
    background-size: cover;
}

.msg {
    background-color: white;
    display: flex;
    height: 20%;
    width: 100%;
    margin-top: 90%;

}

.msg h1 {
    color: #F2789F;
    margin: auto;
    z-index: 6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}